.cart-table .table {
    margin: 0;
    white-space: nowrap;
  }
  
  .cart-table .table thead tr th {
    border-color: #eceff8;
    border-bottom: 0 solid transparent;
    color: #000000;
    font-size: 15px;
    font-weight: 700;
    padding: 15px 20px;
    text-align: center;
  }
  
  @media (max-width: 1199px) {
    .cart-table .table thead tr th {
      min-width: 180px;
    }
  }
  
  .cart-table .table tr {
    border-color: #eceff8;
  }
  
  .cart-table .table tr .pro-thumbnail, .cart-table .table tr .pro-price, .cart-table .table tr .pro-quantity, .cart-table .table tr .pro-subtotal, .cart-table .table tr .pro-remove {
    width: 177px;
    text-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .cart-table .table tbody td {
    border-color: #eceff8;
    text-align: center;
    padding: 10px 20px;
    vertical-align: middle;
    font-weight: 600;
    color: #333333;
  }
  
  .cart-table .table tbody td a {
    color: #333333;
    font-weight: 500;
    text-transform: capitalize;
  }
  
  .cart-table .table tbody td a:hover {
    color: #E72463;
  }
  
  .cart-table .table tbody td a.btn {
    color: #ffffff;
  }
  
  .cart-table .table tbody td a.check-btn {
    color: #ffffff;
  }
  
  .cart-table .table tbody td.pro-remove a i {
    font-size: 24px;
  }
  
  .cart-update-option {
    border: 1px solid #eceff8;
    margin-top: 15px;
    padding: 15px 20px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  @media (max-width: 1500px) {
    .cart-update-option {
      margin-top: 0;
      border-top: 0 solid transparent;
    }
  }
  
  @media (max-width: 1199px) {
    .cart-update-option {
      margin-top: 0;
      border-top: 0 solid transparent;
    }
  }
  
  .cart-update-option .apply-coupon-wrapper {
    width: 55%;
  }
  
  @media (max-width: 991px) {
    .cart-update-option .apply-coupon-wrapper {
      width: auto;
    }
  }
  
  .cart-update-option .apply-coupon-wrapper form {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    white-space: nowrap;
  }
  
  .cart-update-option .apply-coupon-wrapper form input {
    border: 1px solid #eceff8;
    font-size: 14px;
    padding: 12px 10px;
    outline: none;
    margin-right: 15px;
    width: 100%;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  
  .cart-update-option .apply-coupon-wrapper form input:focus, .cart-update-option .apply-coupon-wrapper form input:active {
    border-color: #E72463;
  }
  
  @media (max-width: 767px) {
    .cart-update-option .apply-coupon-wrapper button {
      display: block;
      width: 100%;
      margin-top: 15px;
      border-radius: 0;
      margin-bottom: 30px;
    }
  }
  
  .cart-calculator-wrapper {
    margin-top: 30px;
    background-color: #f8f8f8;
  }
  
  .cart-calculator-wrapper h3 {
    color: #333333;
    font-size: 18px;
    font-weight: 500;
    padding: 27px 15px 25px;
    margin-bottom: 0;
  }
  
  .cart-calculator-wrapper a {
    border-radius: 0;
    text-align: center; 
  }
  
  .cart-calculator-wrapper .cart-calculate-items {
    font-weight: 500;
  }
  
  .cart-calculator-wrapper .cart-calculate-items .table {
    margin-bottom: 0;
  }
  
  .cart-calculator-wrapper .cart-calculate-items .table tr td {
    color: #333333;
    padding: 15px 20px;
  }
  
  .cart-calculator-wrapper .cart-calculate-items .table tr td:nth-child(2) {
    color: #333333;
    text-align: right;
  }
  
  .cart-calculator-wrapper .cart-calculate-items .table tr td.total-amount {
    color: #62d2a2;
    font-weight: 700;
  }
  