.product-details{
    width: 100%;
    padding:40px 10vw;
    display: flex;
    justify-content: space-between;

}

.product-images img{
    width: 500px;
    height: 600px;
    position:relative;
    
}

.details{
    width: 50%;

}

.details .product-brand{
    text-transform: capitalize;
    font-family: Avenir Next,sans-serif;
    font-size: 35px;
}

.details .product-short-des{
    font-size: 20px;
    line-height: 25px;
    height: auto;
    margin: 15px 0 30px;

}

.product-price{
    font-weight: 700;
    font-size: 30px;
}

.product-actual-price{
    font-size: 28px;
    opacity: 0.5;
    text-decoration: line-through;
    margin: 0 20px;
    font-weight: 300;
}

.product-discount{
    color: #ff7d7d;
    font-size: 20px;
}

.product-sub-heading{
    font-size: 18px;
    text-transform: uppercase;
    margin: 60px 0 10px;
    font-weight: 300;
}
 

.btn{
    width: 40%;
    padding: 15px;
    border-radius: 5px;
    background: none;
    display:grid;
    border: 1px solid #383838;
    color: #383838;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
    text-transform: capitalize;
}

.cart-btn{
    margin-right: 1%;
    margin-top: 50px;
    background: #383838;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.detail-des{
    padding: 0 10vw;
    text-transform: capitalize;
}

.heading{
    font-size: 30px;
    margin-bottom: 30px;
}

.des{
    color: #383838;
    line-height: 25px;
}